/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  text-align: center;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.hero img {
  width: 170px;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 2px solid #222;
}

.hero h2 {
  font-size: 22px;
  color: #3b82f6;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  font-size: 17px;
  line-height: 1.6;
  color: #d1d5db;
}

/* WHAT I DO */
.services {
  padding: 80px 20px;
  background-color: #000;
  text-align: center;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.services ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.services li {
  font-size: 17px;
  padding: 12px 0;
  border-bottom: 1px solid #222;
  color: #d1d5db;
}
